<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="RedditSaveTransfer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <RedditSaveTransfer.Properties.Settings>
            <setting name="PropertiesToExport" serializeAs="String">
                <value />
            </setting>
            <setting name="Username1" serializeAs="String">
                <value />
            </setting>
            <setting name="Username2" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveUsername1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveUsername2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
        </RedditSaveTransfer.Properties.Settings>
    </userSettings>
</configuration>
